body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    min-width: 800px;
    color: #404040;
    height: 100%;
}

.main {
    background: #ADDBE1 url(../img/bc/page.png) repeat-x fixed;
    margin: 0 auto;
    width: 100%;
    min-height: 100%;
    height: 100%;
}

.container {
    background: rgba(255, 255, 255, 0.4);
    border-radius: 40px;
    padding: 20px;
    margin: 0 auto;
    width: 800px;
    z-index: auto !important;
}

/* Header
=========================== */
.header {
    border-radius: 25px;
    margin: 0 auto;
    height: 150px;
    background-color: #fff;
    display: flex;
}

h1 {
    padding-top: 20px;
    font-weight: 500;
    font-size: 32px;
    text-align: justify;
}

#tweet-icon{
    padding: 20px 30px;
    width: 80px;
    height: 80px;
}


/* Header Nav
============================ */

.header-nav{
    width: 140px;
    padding-top: 100px;
    padding-left: 126px;
}

.nav-list{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.nav-item:first-child::after{
    content: ' |';
}




/* Content
=========================== */

.content {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

.content-form {
    border-radius: 25px;
    background-color: #fff;
    width: 220px;
    height: 200px;
}
.feed {
    border-radius: 25px;
    width: 570px;
    height: 340px;
    background-color: #fff;
}

#inp-tweet {
    margin: 30px 25px;
    width: 150px;
    height: 100px;
}

#btn-tweet {
    margin: 0 25px;
}